html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {  
  background-color: rgb(83, 114, 122);
}

#main-content {
  display: flex;
  margin-top: 10px;
  flex-flow: column nowrap;
  align-items: center;
}

#main-content h1 {
  color: white;
  text-decoration: underline;
}

#options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(32, 30, 53);
  width: 700px;
}

#options label {
  color: white;
  font-size: 18px;
}

#options button {
  padding: 5px 25px;
  border-radius: 4px;
}

#options select {
  padding: 8px;
}

#container {
  border: 1px solid black;
  display: flex;
  margin: 10px;
  box-shadow: 5px 15px 15px rgb(37, 37, 37);
}

.cell {
  background-color: rgb(255, 255, 255);
}

.coloured {
  background-color: blue;
}

.cell:hover {
  background-color: rgba(0, 0, 0, .5) !important;
}
